OCTOPUS_API_KEY=replace_me
OCTOPUS_EMPAN=replace_me
OCTOPUS_ESERIAL=replace_me
OCTOPUS_GMPAN=replace_me
OCTOPUS_GSERIAL=replace_me
DUCKDB_PATH=/home/kiril/projects/DEcapstone/octopus_dbt/octopus.duckdb
GOOGLE_APPLICATION_CREDENTIALS=/home/kiril/projects/DEcapstone/secrets/replace_me.json
GCP_PROJECT=de-capstone-491812
GCS_BUCKET_NAME=de-capstone-491812-octopus-lake
BQ_DATASET_NAME=octopus_energy_data
