POSTGRES_USER=superset
POSTGRES_PASSWORD=superset
POSTGRES_DB=superset
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
SUPERSET_PORT=8088
SUPERSET_IMAGE=superset-superset:latest
SUPERSET_SECRET_KEY=change-me-to-a-long-random-string
ADMIN_USERNAME=admin
ADMIN_FIRSTNAME=Superset
ADMIN_LASTNAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin
SUPERSET_LOAD_EXAMPLES=no
